{% include "head.html" %} {% include 'header.html' %}
<div style="margin: 5em">
  <!-- Title -->
  <div class="row">
    <h3 class="title">
      {{ subreddit.name }}
    </h3>
  </div>

  <div class="card-panel">
    <div class="row valign-wrapper">
      <em>{{ subreddit.description }}</em>
    </div>
  </div>
  <div class="row">
    <div class="divider"></div>
  </div>

  <!-- Post Button -->

  <div class="row">
    <a href="{% url 'newtextthread' subreddit.name 'text' %}" class="white-text"
      ><button class="btn grey">New Text Post</button></a
    >
    <a href="{% url 'newtextthread' subreddit.name 'link' %}" class="white-text"
      ><button class="btn grey">New Link Post</button></a
    >
  </div>

  <!-- Description -->
  <div class="row">
    <!-- Thread List -->
    <div class="col s8">
      {% for thread in threads %} {% include 'thread_card.html' %} {% endfor %}
    </div>

    <div class="col  s3 right">
      <!-- Subscribe Buttons -->
      <div class="row">
        <div class="card">
          <div class="card-content">
            <div class="row center">
              {% if request.user.is_authenticated %} {% if is_subscriber %}
              <button class="btn grey">
                <a href="{% url 'unsubscribe' subreddit.name %}" class="white-text">Unsubscribe</a>
              </button>
              {% else %}
              <a href="{% url 'subscribe' subreddit.name %}" class="white-text">
                <button class="btn grey">
                  Subscribe
                </button>
              </a>
              {% endif %} {% endif %}
            </div>
            <!-- Sidebar Info -->
            <div class="row">

                <p class="card-title">Useful Content:</p>
                <p>{{ subreddit.sidebar_content | default_if_none:'Nothing Here Yet...' }}</p>

            </div>
            <!-- Subscribers -->
            <div class="row">
              <p class="card-title">Subscribers:</p>
              {% for subscriber in subscribers %}
              <a href="{% url 'user_info' subscriber.user.username %}">
                <p>{{ subscriber.user.username | title }}</p>
              </a>
              {% endfor %}
            </div>

            <!-- Moderators -->
            <div class="row">
              <p class="card-title">Moderators:</p>
              {% for moderator in moderators %}
               <a href="{% url 'user_info' moderator.user.username %}">
                <p>{{ moderator.user.username | title }}</p>
              </a>
              {% endfor %} {% if is_moderator %}
              <p class="grey-text">You are a moderator</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
