{% include "head.html" %} {% include 'header.html' %}
<div style="margin: 5em">
  <!-- Title -->
  <div class="row">
    <h4 class="title">
      {{ subreddit.name | title }}
    </h4>
  </div>

  <!-- Subscribe Buttons -->

  {% if is_subscriber %}
  <button class="btn grey">
    <a href="{% url 'unsubscribe' subreddit.name %}" class="white-text">Unsubscribe</a>
  </button>
  {% else %}
  <button class="btn grey">
    <a href="{% url 'subscribe' subreddit.name %}" class="white-text">Subscribe</a>
  </button>
  {% endif %}

  <!-- Description -->
  <div class="row">
    <!-- Thread List -->
    <div class="col s8">
      {% for thread in threads %} {% include 'thread_card.html' %} {% endfor %}
    </div>

    <div class="col  s2 right">
      <h5>Info:</h5>
      <p>{{ subreddit.description }}</p>
    </div>
  </div>

  <!-- Sidebar
    <div class="row">
      <div class="col right">
        <p>Important Links:</p>
        <p>{{ subreddit.sidebar }}</p>
      </div>
    </div>
     -->
  <!-- Subscribers -->
  <div class="row">
    <div class="col s2 right">
      <h5>Subscribers:</h5>
      {% for subscriber in subscribers %}
      <p>{{ subscriber.user.username | title }}</p>
      {% endfor %}
    </div>
  </div>

  <!-- Moderators -->
  <div class="row">
    <div class="col s2 right">
      <h5>Moderators:</h5>
      {% for moderator in moderators %}
      <p>{{ moderator.user.username | title }}</p>
      {% endfor %} {% if is_moderator %}
      <p class="right grey-text">You are a moderator</p>
      {% endif %}
    </div>
  </div>
</div>
