html,
body {
  background-color: #d7d7d7;
  /* font-weight: bold; */
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
button,
.btn,
.btn-flat {
  text-transform: none;
}
a {
  color: #eb9b74;
}

.nav-color {
  background-color: #4f4e4e !important;
}

.brand-logo {
  margin-left: 0.5em;
}
