html,
body {
  background-color: #d7d7d7;
  /* font-weight: bold; */
}
/* h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
} */
button,
.btn,
.btn-flat {
  text-transform: none;
}
a {
  color: #eb9b74;
}
.card .card-action a {
  color: #eb9b74 !important;
}

.nav-color {
  background-color: #4f4e4e !important;
}

.brand-logo {
  margin-left: 0.5em;
}
.card-body {
  padding-top: 1em !important;
  margin-top: 1em !important;
}
.comment-title {
  font-size: 18 !important;
}
.link-preview-img {
  background-size: cover;
  width: 200px;
  height: 140px;
}
