<div class="center-align" style="margin-right: .5em">
  <div class="row">
    <a href="{% url 'commentVote' comment.id 1 %}">
      {% if has_upvoted %}
      <i class="material-icons orange-text ">arrow_drop_up</i>
      {% else %}
      <i class="material-icons grey-text">arrow_drop_up</i>
      {% endif %}
    </a>
  </div>

  <div class="row  centered">
    <p class="grey-text">{{ comment.score | default_if_none:'0' }}</p>
  </div>

  <div class="row">
    <a href="{% url 'commentVote' comment.id 2 %}">
      {% if has_downvoted %}
      <i class="material-icons blue-text">arrow_drop_down</i>
      {% else %}
      <i class="material-icons grey-text">arrow_drop_down</i>
      {% endif %}
    </a>
  </div>
</div>
