{% include "head.html" %} {% include 'header.html' %}
<div class="container">
  {% if messages %} {% for message in messages %}
  <div class="alert ">
    {{ message }}
  </div>
  {% endfor %} {% endif %}

  <div class="container">
    <div class="card-panel">
      <h2>Change Password</h2>
      <form class="form" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn grey" type="submit">Save changes</button>
      </form>
      <a href="/">back</a>
    </div>
  </div>
</div>
