{% include 'head.html' %} 
{% include 'header.html' %}
{% block content %}
<div class="container">
  <div class="card-panel">
    <h3>User Signup</h3>
    
    <form class="form" method="POST">
      {% csrf_token %}
      
      {{ form }}
      
      <p>

        <input class="btn grey"type="submit" value="Submit" />
      </p>
    </form>
      <p class="center">
    <div class="row">
        Already Have An Account? <a href="{% url 'login' %}">Log In Here!</a>
      </p>
    </div>
  </div>
  {% endblock %}
</div>
</div>
