{% include 'head.html' %} {% include 'header.html' %} 
<div>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h3 >
          {{ user.user.username|title }}
        </h3>
        <p class="grey-text">Member Since {{user.user.date_joined|date:'M d, Y'}}</p>
        {% if user.user.username == request.user.username %}
        <p>
          <a href="{% url 'change_password' %}" >Change Password</a>
        </p>
        <p>

          <a href="{% url 'logout' %}">Logout</a>
        </p>
        {% endif %}
          
      </div>
    </div>
  </div>
  <div class="container">
      <div class="card-panel">
        <h5>Subscriptions</h5>
        <ul class="collection">
          {% for sub in subscriptions.all %}
          <li class="collection-item">
            <a href="{% url 'subreddit' sub.name %}">
              {{ sub.name }}
            </a>
          </li>
          {% endfor %}
        </div>
      </ul>
    </div>
  </div>

{% if moderators is not None %}
  

<div class="container">
  <div class="card-panel">
    <h5>Moderated Subreddits</h5>
    <ul class="collection">
      {% for mod in moderators.all %}
      <li class="collection-item">
        <a href="{% url 'subreddit' mod.name %}">
          {{ mod.name }}
        </a>
      </li>
      {% endfor %}
    </div>
  </ul>
</div>
{% endif %}
</div>

<div class="container">
  <div class="card-panel">
    
    <h5>Top Threads</h5>


      {% for thread in threads %}
      {% include 'thread_card.html' %}{% endfor %}

  </div>
  </div>
