<div class="card horizontal">
  <div class="card-image center center-align valign-wrapper vote-wrapper">
    {% include 'thread_vote_arrows.html' %}
  </div>

  {% if thread.is_link_post %}
  <div class="card-image valign-wrapper">
    <a href="{{ thread.link }}"
      ><div
        class="link-preview-img"
        style="background-image: url('{{ thread.link_preview_img.url }}')"
      ></div
    ></a>
  </div>

  {% endif %}

  <div class="card-stacked">
    <div class="card-content">
      <h5><a href="{% url 'threaddetail' thread.id %}"> {{ thread.title | title }}</a></h5>
      <p class="grey-text">
        {{ thread.created_at }} by <em>{{ thread.sender.user.username | title }}</em>
        in <a href="{% url 'subreddit' thread.subreddit.name %}"> {{thread.subreddit.name}}</a>
      </p>
      <p class="card-body">
        {% if thread.is_link_post %}
        <a href="{{ thread.link }}">{{ thread.link|truncatechars:40  }}</a>

        {% else %}
        {{ thread.body }}
        {% endif %}
      </p>
    </div>

  </div>
</div>


          