<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="col">
        {% include 'thread_vote_arrows.html' %}

      </div>

      <div class="col">
        <h5>
          <a href="{% url 'threaddetail' thread.id %}"> {{ thread.title | title }}</a>
        </h5>

        <p class="grey-text">
          {{ thread.created_at }}
          by <b>{{ thread.sender.user.username | title }}</b> in
          <a href="{% url 'subreddit' thread.subreddit.name %}">
            /r/{{ thread.subreddit.name | title }}/
          </a>
        </p>

        {% if thread.is_link_post %}
        <p>{{ thread.link | truncatechars:20 }}</p>
        {% else %}
        <p>{{ thread.body | truncatechars:50 }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
