<div class="row"></div>
<h4>{{ thread.title | title }}</h4>

<p class="grey-text">{{ thread.created_at }}</p>
<em class="grey-text">
  in <a href="{% url 'subreddit' thread.subreddit.name %}">r/{{ thread.subreddit.name }}/</a> by
  {{ thread.sender.user.username | title }}
</em>

{% if thread.is_link_post %}
<p>
  <a href="{{ thread.link }}">{{ thread.link }}</a>
</p>
{% else %}
<p>{{ thread.body }}</p>
{% endif %} {% if is_moderator or is_own_post%}
<a href="{% url 'threadDelete' thread.id %}">
  <div class="row valign-wrapper">
    <i class="material-icons grey-text">close</i>
    <button class="btn-flat white grey-text" style="text-transform:none">Delete Thread</button>
  </div>
</a>
{% endif %}
