<nav>
  <div class="nav-wrapper nav-color">
    <a href="{% url 'homepage' %}" class="brand-logo">Shitty Reddit</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if user.is_authenticated %}
      <li>
        <span>{{ request.user.username | title }}</span>
      </li>
      <li>
        <a class="white-text" href="{% url 'logout' %}">Logout </a>
      </li>
      {% else %}
      <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
      {% endif %}
      <li><a class="white-text" href="{% url 'allsubs' %}">All Subreddits</a></li>
    </ul>
  </div>
</nav>
