<div style="margin-right: 1em; margin-left: 1em">
  <div class="row">
    <a class="white-text" href="{% url 'homepage' %}"><button class="btn grey">Home</button></a>
    <a class="white-text" href="{% url 'allsubs' %}">
      <button class="btn grey">
        All Subreddits
      </button>
    </a>

    <div class="right">
      {% if user %} {% include 'logout_button.html' %} {% else %}
      <a class="white-text" href="{% url 'signup' %}"><button class="btn grey">Signup</button></a>
      {% endif %}
    </div>
  </div>
</div>
