<nav>
  <div class="nav-wrapper nav-color">
    <a href="{% url 'homepage' %}" class="brand-logo">Shitty Reddit</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if user.is_authenticated %}
      <li>
        {% if user %} <a href="{% url 'change_password' %}">Change Password</a> </li>
        {% else %} 
        <p></p>
        {% endif %}
      <li>
        {% if user %} <a class="white-text" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="white-text" href="{% url 'signup' %}">Signup</a>
        {% endif %}
      </li>
      {% else %}
      <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
      {% endif %}
      <li><a class="white-text" href="{% url 'allsubs' %}">All Subreddits</a></li>
    </ul>
  </div>
</nav>
