{% include 'head.html' %} {% include 'header.html' %}
<div class="container">
  <div class="row">
    <h3>{{ user.username | title }}</h3>
    <a href="{%  url 'all_messages' %}">
      <button class="btn grey left">
        Messages
      </button>
    </a>

    {% if notifications != 0 %}
    <span class="new badge red left">{{ notifications }}</span>
    {% endif %}
  </div>

  <div class="divider"></div>
  <div class="row">
    <h5>Top Posts:</h5>
  </div>

  {% if threads is not None %} {% for thread in threads %} {% include 'thread_card.html' %}
  {%endfor%} {% else %}
  <div class="card-panel">
    <p>
      Nothing Here... Try
      <a href="{% url 'allsubs' %}">finding new subbredits and subscribing to them.</a>
    </p>
  </div>
  {% endif %}
</div>
