{% includes 'head.html' %}
{% block main %}
<div>
  <div class="container">
    <div class="card" class="rounded">
      <div class="card-body">
        <h5 class="card-title">
            {{ data.user }}
        </h5>
        {% if request.user.is_authenticated and not data.is_following %}
        <form action="/{{ data.user }}/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{user}}" />
          <input type="hidden" name="follow" value="follow" />
          <input class="btn btn-outline-success" type="submit" value="Follow" />
        </form>
        {% elif request.user.is_authenticated and data.is_following %}
        <form action="/{{ data.user }}/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{user}}" />
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <!--  Jake: feel free to restyle this. I was just trying to put something together that would give you a feel for what I was going for -->
  <div class="container">
    {% for Thread in data.Thread %}
    <hr>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {{Thread.title}}
            </h4>
            <h5 class="card-subtitle mb-1">
                <a href="/{{ Thread.sender }}">{{ Thread.sender }}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ Thread.created_at }}
            </h6>
            <p class="card-text">
                {{ Thread.body }}
            </p>
            <a href="/Thread/{{ Thread.id }}" class="button">
                View Thread
            </a>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}