<div class="card horizontal">
  <div class="card-image center center-align valign-wrapper">
    {% include 'comment_vote_arrows.html' %}
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p class="card-title"></p>
      <p class="grey-text card-title comment-title">{{ comment.created_at }} by <em>{{ comment.sender.user.username | title }}</em></p>

      <div class="row ">
        <p class="card-body">{{ comment.body }}</p>
      </div>
    </div>
      <div class="card-action">
        {% if is_moderator or comment.is_own_post %}
        <div class="valign-wrapper">
          <a href="{% url 'deleteComment' comment.id %}">
            <p>Delete Comment</p>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
